<nav class="navbar navbar-expand fixed-top">
  <div class="container-fluid justify-content-center">
    <a href="#" class="navbar-brand"><img src="../assets/logos/logo_2.1.png"
        class="d-inline-block align-text-top logo-menu"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" *ngFor="let link of links">
          <a *ngIf="link.route" [routerLink]="link.route" class="nav-link">
            {{link.title}}
          </a>
        </li>

        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Language
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#"><img src="/assets/brazil_flag.png" class="language-flag" alt="">
                Portuguese</a></li>
            <li><a class="dropdown-item" href="#"><img src="/assets/eua_flag.png" class="language-flag" alt="">
                English</a></li>
          </ul>
        </li> -->


      </ul>
    </div>
  </div>
</nav>
