.container {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    position: absolute;

}

.title {
    display: inline-block;
    position: absolute;
    color: white;
}

h1 { 
    position: absolute; 
    top: 6rem; 
    left: 5vw; 
    font-size: 6rem;
 }

 .txt{
    position: absolute; 
    top: 20rem; 
    left: 5vw; 
    font-size: 2.4rem;
 }


.img {
    max-height: 100vh;
    min-width: 100vw;
    background-color: #4488BB;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}