.container {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    position: absolute;

}

.title {
    display: inline-block;
    position: absolute;
    color: white;
}

h1 { 
    position: absolute; 
    top: 6rem; 
    left: 5vw; 
    font-size: 6rem;
    color: white;
 }

 .txt{
    position: absolute; 
    top: 20rem; 
    left: 5vw; 
    font-size: 2.4rem;
    color: white;

 }


.img {
    max-height: 100vh;
    min-width: 100vw;
    background-color: #4488BB;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

*{
    color: #345b70;
}
.card-logo{
    margin-top: 4.2rem;
    background-color: rgba(184, 222, 242, 49%);
    padding: 1rem;
    border-radius: 0;
    border: none;
}

.card-team{
    border-radius: 0;
    border: none;
    
}

.container{
    text-align: left;
}

h2{
    padding: 5rem 0;
    font-size: 3.5em;
    color: #345b70;
}

span{
    font-size: 2.2em;
}