 <section>
    <div class="container main">
      <div class="title">
      <div class="img">
        <img src="./assets/background/oobackground_5.png" class="img-fluid w-100 h-100" alt="...">
        <h1>Aesculapius Scheduling Center</h1>
        <div class="txt text-center">Schedule your appointments when you need, with the professionals you trust!</div>
      </div>
    </div>
    </div>

    <!-- <div class="card text-center">
      <h2>Aesculapius Scheduling Center </h2>
      <div class="card-body">
      <div class="container px-8">
              <div class="row gx-5">
                <div class="col">
                 <div class="p-3">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt praesentium ducimus atque ea
                  magni iure. Eveniet necessitatibus aperiam illo quam nam velit unde dolores laboriosam magnam, et
                  atque vitae perferendis cupiditate? Dolore facere itaque quod qui aliquid voluptate earum explicabo
                  quos cumque molestias voluptatum ratione eius expedita consequuntur maiores iure totam, dolor quo
                  temporibus ab fugit. Inventore et, culpa harum minus, architecto nulla repellendus voluptatibus
                  impedit ratione modi error libero. Fugiat vitae voluptates obcaecati, ex nam praesentium distinctio
                  officia velit fuga veniam, sequi illo porro quos quod maxime perspiciatis nulla dolores atque beatae
                  provident assumenda. Iste quas voluptates aspernatur vel asperiores laboriosam autem incidunt quod
                  deleniti provident quaerat accusamus nesciunt pariatur perferendis cum, perspiciatis minus tempora
                  id error velit itaque, nihil, eius laudantium. Itaque nisi maxime omnis tempora illum veniam,
                  delectus sunt. Voluptatem at aut optio amet saepe dolor, doloremque deserunt veniam soluta harum?
                  Fugit dicta repellendus error ipsum vero quos soluta, molestiae dolores, quas magni reiciendis non
                  amet enim minima consectetur quasi cumque ea reprehenderit? Accusantium veniam nostrum suscipit
                  autem, deserunt vitae cupiditate vero rem mollitia sapiente. Commodi atque esse nostrum sit beatae,
                  consectetur dicta cum aliquam eligendi aspernatur, voluptas accusantium error reiciendis! Deleniti
                  nam iure mollitia illo facilis!
                 </div>
                </div>
                <div class="col">
                  <div class="p-3">
                      <img class="logo rounded-circle" src="../assets/logos/logo_1.png" alt="">
                  </div>
                </div>
              </div>
            </div>
  
      </div>
  </div> -->
   </section>
  
