* {
    color: #345b70;
}

h2 {
    padding-top: 2.8rem;
    font-size: 2.5em;
    color: #345b70;
}

.title {
    color: white;
}

.container {
    margin: 0 !important;
    padding: 0 !important;
    border: none;
    max-height: 1.130.340px;
    min-height: 1.130.340px;
    min-width: 100%;
    padding-right: 0;
    padding-left: 0;
}


.main .row>* {
    background-color: blue;
    /* flex-shrink: 0; */
    /* width: 100%; */
    /* max-width: 100%; */
    padding-right: 0;
    padding-left: 0;
    /* margin-top: var(--bs-gutter-y); */
    /* padding-right: 0; */
}

h1 {
    position: absolute;
    top: 6rem;
    left: 5vw;
    font-size: 6rem;
    color: white;
}

.txt {
    position: absolute;
    top: 20rem;
    left: 5vw;
    font-size: 2.4rem;
    color: white;

}

.container-about {
    margin: 0 !important;
    padding: 0 !important;
    border: none;
    max-height: 100vh;
    min-height: 100vh;
}


.logo {
    height: 15rem !important;
    width: 15rem !important;
    margin-top: 5rem;
    /* vertical-align: middle !important; */
}

/*  card team */
.card-team {
    border-radius: 0;
    border: none;
    max-height: 50% !important;
    min-height: 50% !important;
    margin: 5rem;
}

.card-team img {
    height: 20rem;
    width: 20rem;
}

a {
    font-size: 1.8em;
    border: none;
}

a:hover {
    background-color: #345b70;
    cursor: pointer;
}

span {
    height: 2rem;
}

a:hover span {
    color: white;
}