<div class="container mt-5">
  <div class="row">
    <div class="col-7 register-form">
      <div class="d-flex justify-content-center">
        <div class="brand_logo_container">
          <img src="../assets/logos/logo_1.png" class="brand_logo rounded-circle" alt="Logo">
        </div>
      </div>
      <div class="d-flex justify-content-center form_container">
        <form class="row g-3">
          <div class="col-md-3">
            <input type="text" class="form-control" id="name" placeholder="Name">
          </div>
          <div class="col-md-3">
            <input type="text" class="form-control" id="last-name" placeholder="Last Name">
          </div>
          <div class="col-3">
            <input type="text" class="form-control" id="cpf" placeholder="CPF">
          </div>
          <div class="col">
            <input type="text" class="form-control" id="phone" placeholder="(xx)xxxx-xxxx">
          </div>

          <div class="col-md-3">
            <input type="date" class="form-control" id="birthdate" placeholder="xx/xx/xxxx">
          </div>
          <div class="col-md-6">
            <input type="email" class="form-control" id="email" placeholder="jane.doe@email.com">
          </div>

          <div class="col">
            <select class="form-select" aria-label="Sex">
              <option selected>Sex</option>
              <option value="1">Male</option>
              <option value="2">Female</option>
              <option value="3">Other</option>
            </select>
          </div>
          <div class="col-6">
            <input type="text" class="form-control" id="name-mother" placeholder="Mother's Name">
          </div>
          <div class="col-5">
            <input type="text" class="form-control" id="name-father" placeholder="Father's Name">
          </div>
          <div class="col-md-3">
            <input type="text" class="form-control" id="zipcode" placeholder="ZipCode">
          </div>
          <div class="col-md-3">
            <input type="text" class="form-control" id="city" placeholder="City">
          </div>
          <div class="col-md-3">
            <input type="text" class="form-control" id="street" placeholder="Street">
          </div>
          <div class="col">
            <input type="text" class="form-control" id="number-address" placeholder="Number">
          </div>
          <div class="col-md-3">
            <select id="state" class="form-select">
              <option selected>State</option>
              <option>SC </option>
              <option>SC </option>
              <option>SC </option>
            </select>
          </div>
          <div class="col-md-3">
            <select id="state" class="form-select">
              <option selected>Country</option>
              <option>BR </option>
              <option>BR </option>
              <option>BR </option>
            </select>
          </div>
          <div class="col">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" placeholder="Allergies"></textarea>
          </div>
          <div class="d-flex justify-content-center mt-3">
            <a href="#" class="nav-link text-black">
              <button type="button" class="btn">Register</button>
            </a>
          </div>
        </form>
      </div>
    </div>
    <div class="col sos h-100"></div>
  </div>