
#register-patient{
    max-height: 100vh;
    min-height: 100vh;
    min-width: inherit;
    background-repeat: no-repeat;
    background-attachment: bottom;
    background-position: bottom;
}

.container{
    margin: 0 !important;
    padding: 0 !important;
    border: none;
    max-height: 100vh;
    min-height: 100vh;
    min-width: 100%;
}

.register-form{
    background-image: url(/assets/background/background_7.png);
     max-height: 100vh;
    min-height: 100vh;
}

.brand_logo_container {
    height: 20rem;
    text-align: center;
    margin-top: 5rem;
}

.brand_logo {
    margin-top: 3rem;
    height: 25vh;
    border: 2px solid white;
}

.form_container {
    /* margin-top: 3rem; */
    padding: 3rem;
}

.btn{
    width: 100%;
    background: #4488bb !important;
    color: white !important;
    font-size: 0.6em;
}

.btn:hover {
    box-shadow: none !important;
    outline: 0px !important;
}

.login_container {
    padding: 0 2rem;
}

.input-group-text {
    background: #4488bb !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
    height: 40px;
}

.input_user,
.input_pass {
    box-shadow: none !important;
    outline: 0px !important;
    font-size: 0.6em;
}

p{
    margin-top: 1rem;
    font-size: 0.6em;
}