<section id="main">
    <div class="container main">
        <div class="title">
            <div class="container mt-5">
                <div class="row">
                    <img src="../assets/background/background_5.png" id="login-doctor" alt="">
                </div>
            </div>
            <div>
                <h1>Aesculapius Scheduling Center</h1>
                <div class="txt text-center">Schedule your appointments when you need, with the professionals you trust!
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about">
    <div class="container-fluid container-about text-center">
        <h2>Aesculapius Scheduling Center </h2>
        <div class="row">
            <div class="col">
                <div class="p-5" style="color: red;">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt praesentium ducimus atque ea
                    magni iure. Eveniet necessitatibus aperiam illo quam nam velit unde dolores laboriosam magnam,
                    et
                    atque vitae perferendis cupiditate? Dolore facere itaque quod qui aliquid voluptate earum
                    explicabo
                    quos cumque molestias voluptatum ratione eius expedita consequuntur maiores iure totam, dolor
                    quo
                    temporibus ab fugit. Inventore et, culpa harum minus, architecto nulla repellendus voluptatibus
                    impedit ratione modi error libero. Fugiat vitae voluptates obcaecati, ex nam praesentium
                    distinctio
                    officia velit fuga veniam, sequi illo porro quos quod maxime perspiciatis nulla dolores atque
                    beatae
                    provident assumenda. Iste quas voluptates aspernatur vel asperiores laboriosam autem incidunt
                    quod
                    deleniti provident quaerat accusamus nesciunt pariatur perferendis cum, perspiciatis minus
                    tempora
                </div>
            </div>
            <div class="col">
                <div class="p-3">
                    <img class="logo rounded-circle" src="../assets/logos/logo_1.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="team">
    <div class="container card-team text-center" style="color: red;">
        <h2 class="text-center">Contact us</h2>
        <div class="row row-col row-cols-md-3 g-40">
            <div class="col">
                <div class="card border-0">
                    <div class="text-center" ><img src="../assets/team/ariana_silva.png" class="rounded-circle"
                            alt="..."></div>
                    <div class="team-pic card-body text-center">
                        <h5 class="card-title" style="color: red;">Ariana Silva</h5>
                        <div class="col-md-12 mb-4" style="color: red;">
                            <a href="https://github.com/ariana-ssilva" class="btn"><span
                                    class="fa-brands fa-github"></span></a>
                            <a href="https://github.com/ariana-ssilva" class="btn"><span
                                    class="fa-brands fa-linkedin-in"></span></a>
                            <a class="btn" action="mailto:arianamoreira5021@gmail.com?subject=Contato via site pessoal"
                                method="post" enctype="text/plain"><span class="fa-regular fa-envelope"></span></a>
                            <a href="https://github.com/ariana-ssilva" class="btn"><span
                                    class="fa-solid fa-globe"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0">
                    <div class="text-center"><img src="../assets/team/filipe_albuquerque.png" class="rounded-circle" alt="..." target="_blacnk"></div>
                    <div class="team-pic card-body text-center">
                        <h5 class="card-title" style="color: red;">Filipe Albuquerque</h5>
                        <div class="col-md-12 mb-4" style="color: red;">
                            <a href="https://github.com/ariana-ssilva" class="btn"><span
                                    class="fa-brands fa-github"></span></a>
                            <a href="https://github.com/ariana-ssilva" class="btn"><span
                                    class="fa-brands fa-linkedin-in"></span></a>
                            <a href="https://github.com/ariana-ssilva" class="btn"><span
                                    class="fa-regular fa-envelope"></span></a>
                            <a href="https://github.com/ariana-ssilva" class="btn"><span
                                    class="fa-solid fa-globe"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0">
                    <div class="text-center"><img src="../assets/team/thiago_souza.png" class="rounded-circle" alt="..."></div>
                    <div class="team-pic card-body text-center">
                        <h5 class="card-title" style="color: red;">Thiago Souza</h5>
                        <div class="col-md-12 mb-4" style="color: red;">
                            <a id="activation" href="https://github.com/ariana-ssilva" class="btn"><span id="activated"
                                    class="fa-brands fa-github"></span></a>
                            <a href="https://github.com/ariana-ssilva" class="btn"><span
                                    class="fa-brands fa-linkedin-in"></span></a>
                            <a href="https://github.com/ariana-ssilva" class="btn"><span
                                    class="fa-regular fa-envelope"></span></a>
                            <a href="https://github.com/ariana-ssilva" class="btn"><span
                                    class="fa-solid fa-globe"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>