<div class="container-fluid">
    <div class="row">
        <h3>Find a professional </h3>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </div>
    </div>
  <!-- carousel primeng -->
    <div class="container-fluid mt-5">
        <div class="content-section implementation carousel-demo">
            <div class="card professional-card">
                <p-carousel [value]="professionals" styleClass="custom-carousel" [numVisible]="5" [numScroll]="1"
                    [circular]="true" [autoplayInterval]="1" [responsiveOptions]="responsiveOptions">
                    <ng-template let-professionals pTemplate="item">
                        <div class="item card">
                            <img src="{{professionals.imageUrl}}" class="card-img-top professional" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{professionals.name}}</h5>
                                <p class="card-text">{{professionals.specialty}}</p>
                                <button>add</button>
                            </div>
                        </div>
                    </ng-template>
                </p-carousel>
            </div>
        </div>
    </div>