<div class="card card-logo text-center">
    <h2>Aesculapius Scheduling Center </h2>
    <div class="card-body">
    <div class="container px-8">
            <div class="row gx-5">
              <div class="col">
               <div class="p-3">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt praesentium ducimus atque ea
                magni iure. Eveniet necessitatibus aperiam illo quam nam velit unde dolores laboriosam magnam, et
                atque vitae perferendis cupiditate? Dolore facere itaque quod qui aliquid voluptate earum explicabo
                quos cumque molestias voluptatum ratione eius expedita consequuntur maiores iure totam, dolor quo
                temporibus ab fugit. Inventore et, culpa harum minus, architecto nulla repellendus voluptatibus
                impedit ratione modi error libero. Fugiat vitae voluptates obcaecati, ex nam praesentium distinctio
                officia velit fuga veniam, sequi illo porro quos quod maxime perspiciatis nulla dolores atque beatae
                provident assumenda. Iste quas voluptates aspernatur vel asperiores laboriosam autem incidunt quod
                deleniti provident quaerat accusamus nesciunt pariatur perferendis cum, perspiciatis minus tempora
                id error velit itaque, nihil, eius laudantium. Itaque nisi maxime omnis tempora illum veniam,
                delectus sunt. Voluptatem at aut optio amet saepe dolor, doloremque deserunt veniam soluta harum?
                Fugit dicta repellendus error ipsum vero quos soluta, molestiae dolores, quas magni reiciendis non
                amet enim minima consectetur quasi cumque ea reprehenderit? Accusantium veniam nostrum suscipit
                autem, deserunt vitae cupiditate vero rem mollitia sapiente. Commodi atque esse nostrum sit beatae,
                consectetur dicta cum aliquam eligendi aspernatur, voluptas accusantium error reiciendis! Deleniti
                nam iure mollitia illo facilis!
               </div>
              </div>
              <div class="col">
                <div class="p-3">
                    <img class="logo rounded-circle" src="../assets/logos/logo_1.png" alt="">
                </div>
              </div>
            </div>
          </div>

    </div>
</div>

<h2 class="text-center">Contact us</h2>
<div class="card-group card-team text-center">
  <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
              <!-- <img class="logo rounded-circle" src="../assets/logos/logo_1.png" alt=""> -->
            <img src="../assets/team/ariana_silva.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Ariana Silva</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Filipe Albuquerque</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Thiago Souza</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
      </div>
  </div>