*{
    color: #345b70;
}
.card-logo{
    margin-top: 4.2rem;
    background-color: rgba(184, 222, 242, 49%);
    padding: 1rem;
    border-radius: 0;
    border: none;
}

.card-team{
    border-radius: 0;
    border: none;
    
}

.container{
    text-align: left;
}

h2{
    padding: 5rem 0;
    font-size: 3.5em;
    color: #345b70;
}
/* 
.social-icon span{
    background-color: orange;

} */